{% extends "users/base.html" %}

{% block content %}
    <div class="row page-titles">
        <div class="col-md-12 align-self-center">
            <h3 class="text-themecolor">面向顶级职业挑战的统计专业协作能力评估项目(SGPA)</h3>
        </div>

    </div>

    {% if user.profile.level == 1 %}
        <p>2020年疫情冲击叠加出产业升级，各方组织都在努力塑造技术创新与商业创新双轮驱动的企业文化以应对顶级挑战。以知识协作式新精英人才引进计划作为调整顶级作战能力的结构性举措，率先在华为等知名企业纷纷亮相，为新基建的人才引进树立了新的风向标。早在去年的2019年，华为就用200万年薪从世界名校引进20-30名天才“少年”，他们均为应届毕业的博士，专业创新能力国际一流。而2020年，华为继续将橄榄枝投向国内计算机名校，高薪将顶尖会议上崭露头角的学术精英收入麾下。诸多迹象表明，硕博层次的专业知识和精心协作设计能力成为竞标高端人才市场的素质砝码。</p>
        <p>&nbsp;</p>
        <p>论到统计学科，它是人工智能等领域重要的学科支柱。而从学科特点来看，本来就是一个具有发明传统，良好科学发现，算法推演能力并长期致力于通过数据分析为其他学科和领域做出卓越服务的基础学科。在面向国际化的高端专业竞争环境，如何在研究生教育的早期阶段，引导学生加强基本功训练，推进在教学中的专业合作，注重核心领域知识的塑造，提升综合技能十分有意义。</p>
        <p>&nbsp;</p>
        <p>为此，我们启动了一项统计学专业知识评估项目，简称SGPA（Statistics
        Graduate Program Assessment）。SGPA将评估一个人通过分享他人专业知识、技能，并有效地与他人一道解决包含统计问题的潜在能力。被评估对象主要面向数据科学、计算机视觉、人工智能等相关专业的在读研究生（包括博士生和硕士生）。众所周知，统计学国际化教育质量无可替代，许多知名大学承担着世界统计知识生产体系的中心地位，短期内难以撼动，而我国统计学专业研究生距离国际一流专业还存在较大差距。在中美统计学知识协作中，必须推进学生的统计专业技能，而通过知识图谱让学生客观感知到认知差距不仅是重要的，而且对于学生明确定位降低职业偏差具有不可忽视的导向作用。强调“教学和鼓励学生相互研究合作是许多研究生阶段的学业核心”。SGPA计划将引入国际统计学学术前沿知识图谱，包括知名研究中心和统计学家研究主题之间的合作交集作为测评依据，能够预测年轻学者与国际一流学者在进入面对面合作之前专业倾向意愿、知识储备的重组性和对协作机会的把握能力，从而有助于对研究者的未来的专业合作潜力进行预判和规划。</p>
        <p>&nbsp;</p>
        <p>而针对有合作共识的学子们，这项知识图谱问答项目还将推出利于有效地与其他学科一道提升解决问题能力的培训课程。我们称之为协作式建模工作俱乐部（Collaboration Journal Club, CJC）。</p>
    {% else %}
        <p>2020年疫情冲击叠加出产业升级，各方组织都在努力塑造技术创新与商业创新双轮驱动的企业文化以应对顶级挑战。以知识协作式新精英人才引进计划作为调整顶级作战能力的结构性举措，率先在华为等知名企业纷纷亮相，为新基建的人才引进树立了新的风向标。早在去年的2019年，华为就用200万年薪从世界名校引进20-30名天才“少年”，他们均为应届毕业的博士，专业创新能力国际一流。而2020年，华为继续将橄榄枝投向国内计算机名校，高薪将顶尖会议上崭露头角的学术精英收入麾下。诸多迹象表明，硕博层次的专业知识和精心协作设计能力成为竞标高端人才市场的素质砝码。</p>
        <p>&nbsp;</p>
        <p>论到统计学科，它是人工智能等领域重要的学科支柱。而从学科特点来看，本来就是一个具有发明传统，良好科学发现，算法推演能力并长期致力于通过数据分析为其他学科和领域做出卓越服务的基础学科。在面向国际化的高端专业竞争环境，如何在研究生教育的早期阶段，引导学生加强基本功训练，推进在教学中的专业合作，注重核心领域知识的塑造，提升综合技能十分有意义。</p>
        <p>&nbsp;</p>
        <p>为此，我们启动了一项统计学专业知识评估项目，简称SGPA（Statistics
        Graduate Program Assessment）。SGPA将评估一个人通过分享他人专业知识、技能，并有效地与他人一道解决包含统计问题的潜在能力。被评估对象主要面向数据科学、计算机视觉、人工智能等相关专业的在读研究生（包括博士生和硕士生）。众所周知，统计学国际化教育质量无可替代，许多知名大学承担着世界统计知识生产体系的中心地位，短期内难以撼动，而我国统计学专业研究生距离国际一流专业还存在较大差距。在中美统计学知识协作中，必须推进学生的统计专业技能，而通过知识图谱让学生客观感知到认知差距不仅是重要的，而且对于学生明确定位降低职业偏差具有不可忽视的导向作用。强调“教学和鼓励学生相互研究合作是许多研究生阶段的学业核心”。SGPA计划将引入国际统计学学术前沿知识图谱，包括知名研究中心和统计学家研究主题之间的合作交集作为测评依据，能够预测年轻学者与国际一流学者在进入面对面合作之前专业倾向意愿、知识储备的重组性和对协作机会的把握能力，从而有助于对研究者的未来的专业合作潜力进行预判和规划。</p>
        <p>&nbsp;</p>
        <p>而针对有合作共识的学子们，这项知识图谱问答项目还将推出利于有效地与其他学科一道提升解决问题能力的培训课程。我们称之为协作式建模工作俱乐部（Collaboration Journal Club, CJC）。</p>
    {% endif %}
{% endblock content %}
